
<br>
<div>
  <div class="element">
    <img src="assets/ravi.png" width="200" alt="Ravikumar">
  </div>
      <div>
      <p>     Welcome and Thanks for using WoHCI !!</p>  
      <p>     World of HCI (worldofhci.com) is a web application that focus on comparing multiple Hyper-Converged Infrastructure solutions. WoHCI application serves as an input while evaluating HCI solutions across different vendors. </p> 

      <p>     My name is Ravikumar Govindaraj  aka Ravi, I am working in VMware as Staff Systems Engineer part of Storage and Availability Business unit (SABU). I am responsible for evangelizing Hyper-converged solutions and increase market share in my region. I occasionally blog, but my core interests are around modern application architecture, storage techonologies and developing application that are useful for customers, partners, colleagues and my company.
              I strongly believe in “Knowledge is Power, only when Shared and Applied” and I try to follow the same. </p>
  </div>
</div>

<br>
<br>
<div>
  <p> <b>Disclaimer:</b> <br>
      This Disclaimer governs the use of WoHCI Website/Web Application; by accessing this Website, you agree to the terms and conditions as outlined in this Disclaimer. 
      Use this application at your own risk, this application doesn’t come with any warranty or support. The information, ratings, suggestions and other details shared on 
      this site are my personal view, and doesn’t relate or reflect to that of my company I work in any ways. The application uses various names/trademarks/copyrights of vendors and 
      their solutions. All those names/trademarks/copyrights belong to the respective vendors/companies. If you disagree, please do not access this Website. I reserve 
      the right to modify the Terms of Use and/or Disclaimer from time to time without any notice and at my sole discretion by posting amended Terms of Use and Disclaimer 
      on this Website.</p><br>

      <p><b>Contact Me: </b><br>
            email - worldofhci@gmail.com <br>
            twitter - @worldofhci 
      </p>
</div>