p {
    color: #333a56;
    margin-left: 20px;
}

img {
    align-content: left;
    padding-right: 20px;

}



.element{
  shape-image-threshold: 1;
  float: left;
  margin-left: 20px;
  
}

@media only screen and (max-width: 480px) {
    .element {
         shape-image-threshold: 1;
         float: none;
       }
    
    img {
        align-items: center;
        padding-right: 20px;
    }
}