p {
    color: #333a56;
}

img {
    align-content: left;
    padding: 15px;
}



.element{
  shape-image-threshold: 1;
  float: left;
  margin-left: 10px;
  
}

@media only screen and (max-width: 480px) {
    .element {
         shape-image-threshold: 1;
         float: none;
       }
    
    img {
        align-items: center;
    }
}