<!--
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="wohci">HCI Comparison</a></li>
      <li><a routerLink="tools">Tools</a></li>
      <li><a routerLink="articles">Articles</a></li>
      <li><a routerLink="about">About</a></li>
    </ul>


    <router-outlet></router-outlet>

  -->

<nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />  
      <span></span>
      <span></span>
      <span></span>
     
      <ul id="menu">
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="wohci">HCI Comparison</a></li>
          <li><a routerLink="articles">Functions & Ratings</a></li>
          <li><a routerLink="tools">Scratch Pad</a></li>
          <li><a routerLink="about">About</a></li>
        </ul>
    </div>
   </nav>
 
  <router-outlet></router-outlet>
