<!--
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="wohci">HCI Comparison</a></li>
      <li><a routerLink="tools">Tools</a></li>
      <li><a routerLink="articles">Articles</a></li>
      <li><a routerLink="about">About</a></li>
    </ul>


    <router-outlet></router-outlet>

  -->

<nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />  
      <span></span>
      <span></span>
      <span></span>
      

      <ul id="menu">
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="wohci">HCI Comparison</a></li>
          <li><a routerLink="articles">Functions & Ratings</a></li>
          <li><a routerLink="tools">Scratch Pad</a></li>
          <li><a routerLink="about">About</a></li>
        </ul>
      
    </div>
  </nav>

  <br>
  <router-outlet></router-outlet>

  <div>
    <p>  Disclaimer: This Disclaimer governs the use of our Website; by accessing this Website, you agree to the terms and conditions as outlined in the Terms of Use and this Disclaimer. Use this application on your own risk, the application doesn’t come under any warranty or support. The information shared on this site are my personal ones, these are part of my personal experience and doesn’t relate or reflect to that of my company I work for which is VMware. The application uses various names of vendors and their solutions. All those names are 
      If you disagree, please do not access this Website. We reserve the right to modify the Terms of Use and/or Disclaimer from time to time without any notice and at our sole discretion by posting amended Terms of Use and Disclaimer on this Website. By using this Website after the changes / modifications have been posted you agree to accept those changes / modifications, whether or not you have reviewed the changes / modifi-cations. </p>
      
  </div>