<div class="allcolor">

<h3>Analysts Data:</h3>	
https://www.crn.com/slide-shows/virtualization/300099106/heres-who-made-gartners-2018-magic-quadrant-for-hyper-converged-infrastructure.htm	<br>
https://blogs.vmware.com/latam/2018/02/vmware-debuts-leader-gartner-magic-quadrant-hyperconverged-infrastructure-hci.html	<br>
https://www.idc.com/getdoc.jsp?containerId=prUS43714418	<br>

<h3>Customer Adoption:</h3>	
http://www.futuriom.com/articles/news/cisco-hones-hyperflex-hci-story/2018/01	<br>
https://blogs.technet.microsoft.com/filecab/2018/03/27/storage-spaces-direct-momentum/	<br>
http://pivot3.com/why-pivot3/	<br>
https://www.nutanix.com/press-releases/2017/11/30/nutanix-reports-first-quarter-fiscal-2018-financial-results/	<br>
Gartner Report (HPE, Nutanix, Scale Computing)	<br>


<h3>Software Defined Datacenter Solutions:</h3>	
https://www.datacore.com/products/	<br>
https://www.cisco.com/c/en/us/products/index.html	<br>
https://www.hpe.com/emea_europe/en/what-is/software-defined-data-center.html	<br>
http://e.huawei.com/in/solutions/business-needs/data-center/datacenter	<br>
https://www.youtube.com/watch?v=bA22w1R_AvI - pivot3 vSTAC	<br>
http://pivot3.com/hyperconverged-infrastructure/	<br>
https://www.scalecomputing.com/documents/data-sheets/data_sheets_hc3_feature_guide.pdf	<br>
https://www.scalecomputing.com/solutions	<br>
https://www.youtube.com/watch?v=de7QC6AOOZ4 - HTBase hypervconvergence (OCH - onecloud hypervisor) Software company, hardware agnostic.	<br>
https://www.stratoscale.com/products/networking/ -- (built using terraform)	<br>


<h3>Software Defined Storage:</h3>	
https://www.cisco.com/c/en/us/td/docs/unified_computing/ucs/UCS_CVDs/hyperflex_25_vsi.html - Cisco HyperFlex 2.5 for Virtual Server Infrastructure	<br>
https://www.youtube.com/watch?v=WN_vq2tmeEs - Deep Dive: Cisco HyperFlex Management, Provisioning and Optimization (requires to provision data store)	<br>
https://microage.com/blog/hci-comparison-vmware-vsan-cisco-hyperflex/ - VSAN versus Cisco Hyperflex	<br>
https://www.cisco.com/c/dam/en/us/products/collateral/hyperconverged-infrastructure/hyperflex-hx-series/solution-overview-c22-736815.pdf -- connect external system	<br>
https://www.vmware.com/resources/compatibility/pdf/vi_vsanps_guide.pdf - VSAN partner eco system	<br>
https://support.hpe.com/hpsc/doc/public/display?docId=emr_na-a00037319en_us&docLocale=en_US - scalability and other inputs	<br>
https://h20195.www2.hpe.com/v2/getpdf.aspx/a00019351enw.pdf - SEDs required for encryption	<br>
http://gettingstarted.simplivity.com/admin_getstarted-manage-vms/admin_getstarted-manage-vms-restore_files_from_a_backup.html -- simplivity file level backup	<br>
https://mysupport.netapp.com/info/web/ECMLP2740378.html - NetApp HCI resources	<br>
https://blog.netapp.com/tech-field-day-16-comparing-three-hci-architectures/	<br>
https://www.netapp.com/us/media/ds-solidfire-data-efficiencies-breif.pdf - dedupe and compression	<br>
https://library.netapp.com/ecm/ecm_download_file/ECMLP2764629 - encryption , backup restore	<br>
https://www.youtube.com/watch?v=Srl5gsXjtrQ - backup and restore	<br>
https://germany.emc.com/collateral/technical-documentation/h15104-vxrail-appliance-techbook.pdf - VXRAIL techbook	<br>
https://www.youtube.com/watch?v=HxEO8y9imE0 - VXRAIL Components	<br>
https://www.youtube.com/watch?v=H5pVT1VROxY - VXRAIL Tech overview	<br>
https://www.datacore.com/products/software-defined-storage/tech/specs/ - datacore tech speccs	<br>
https://www.youtube.com/watch?v=dTUtUA4TqF8 - datacore overview	<br>
https://www.youtube.com/watch?v=brgTrx1wNPU - interface demo	<br>
https://www.youtube.com/watch?v=7lorg_wzoIw&index=1&list=PL1uEZZvuU5JRPctfIvi_LZQcbcnfhM1Jr -- datacore playlist	<br>
https://www.datacore.com/partners/technology/ - partners	<br>
https://player.vimeo.com/video/191493834 - pivot3 demo vstac	<br>
http://pivot3.com/document-type/data-sheet/ 	<br>
http://pivot3.com/wp-content/uploads/2016/11/Datasheet-Pivot3-HCI-Family.pdf	<br>
http://pivot3.com/wp-content/uploads/2016/06/Analyst-Report-Taneja-Group-Pivot3-Technology-Profile.pdf <br>
https://www.scalecomputing.com/resources/hc3-product-specifications	<br>
https://www.scalecomputing.com/products/hardware-platforms	<br>
http://e-file.huawei.com/en/material/MaterialDownload?materialid=44bb90a9dcd545118b0a361ab55ca878&language=en-AE <br>


<h3>Software Defined Network:</h3>
https://www.hpe.com/us/en/insights/articles/understanding-cloud-based-firewalls-1702.html	<br>
http://h22208.www2.hpe.com/eginfolib/servers/docs/simplivity/HPE%20SimpliVity%20Interoperability%20Guide-3.7.1.pdf -- supports only VMware so all stacks of VMware can be implemented	<br>
http://e.huawei.com/in/products/enterprise-networking/sdn-controller/agile-controller/data-center	<br>
http://e.huawei.com/in/material/onLineView?materialid=5f259066faee4918ac5b3632371a1134 -- supports SDN for VM, uses Agile controller VM for every host	<br>
http://e.huawei.com/en/material/MaterialDownload?materialid=dd7efaddf7c241e0875d5538037109d0&language=ko	<br>

  
<h3>Software Defined Compute:</h3>
http://e-file.huawei.com/ja/marketing-material/global/products/cloud_computing/cloud_computing/fusionsphere/r5c10/20151031115727 - fusionsphere features	<br>
<br>

<h3>ROBO Friendly:</h3>	
https://blogs.cisco.com/datacenter/the-benefits-of-living-on-the-hyperflex-edge - hyperflex requires minimum three nodes	<br>
https://next.nutanix.com/blog-40/10-things-to-know-about-nutanix-remote-and-branch-office-solutions-19241	<br>
https://www.scalecomputing.com/resources/hc3-single-node-appliance-configuration	<br>


<h3>Multi-Hypervisor Support:</h3>
https://portal.nutanix.com/#/page/docs/details?targetId=Web-Console-Guide-Prism-v55:wc-management-multi-hypervisor-prism-c.html	<br>


<h3>NPS Score:</h3>	
https://npsbenchmarks.com/companies/cisco - 38	<br>
https://npsbenchmarks.com/companies/dell - 24	<br>
https://npsbenchmarks.com/companies/hewlett-packard-enterprise - 48	<br>
https://npsbenchmarks.com/companies/huawei - 49	<br>
https://customer.guru/net-promoter-score/netapp - 7	<br>
https://npsbenchmarks.com/companies/nutanix -92	<br>


<h3>HCI Scalability:</h3>	
https://datacore.custhelp.com/app/answers/detail/a_id/671/~/how-many-datacore-servers-can-be-managed-in-a-single-server-group%3F/session/L2F2LzEvdGltZS8xNTI1NDMzMzQ1L2dlbi8xNTI1NDMzMzQ1L3NpZC9mVSU3RXhsNm9yQVVTMkZabWxRQ0k2REt2SHBrbkpuQTJIelhOS2lZbVdnam51c0FneERWc21pM2c0cWxYZUFSRlZlb2pvUG1Gd1ZDY1VneGx6NndhbkVMdXZlNG5qTm9ZaEkyYjBvcFVvcW1fdW42T3NEQ3lxTHk5QSUyMSUyMQ==	<br>
https://support.hpe.com/hpsc/doc/public/display?docId=emr_na-a00037319en_us&docLocale=en_US	<br>


<h3>Disaster Recovery:</h3>	
https://wuchikin.wordpress.com/2017/11/16/cisco-hyperflex-cluster-replication/	<br>
https://docs.datacore.com/SSV-WebHelp/Replication.htm	<br>
https://www.datacoreassets.com/legacy/downloads/DataCore_Riverbed_DR_22Sep08.pdf	<br>
https://www.youtube.com/watch?v=Lhfg5GwPxlE -- DataCore's feature for Disaster Recovery 	<br>
http://e.huawei.com/en/material/onLineView?materialid=1c17ce2c35b74d5d8aaeb223ad25bd6e	<br>
http://support.huawei.com/enterprise/en/doc/EDOC1000156428?idPath=7919749%7C9856522%7C9856608%7C21488161###	<br>
file:///D:/Downloads/solution-brief-pivot3-zerto-backup-disaster-recovery.pdf	<br>
https://www.youtube.com/watch?v=GCyW_4BXDWY -- Huawei DR	<br>
https://www.youtube.com/watch?v=RZ1US9YBSvE&feature=youtu.be - Scale computing DR	<br>
https://www.scalecomputing.com/documents/white-papers/DR-Strategies_whitepaper.pdf	<br>
https://www.netapp.com/us/media/tr-4677.pdf -- solidfire	<br>
https://www.youtube.com/watch?v=pHPrMh-yD0U -- solidfire realtime replication	<br>


<h3>Data Protection:</h3>	
https://www.youtube.com/watch?v=Srl5gsXjtrQ - Netapp Solidfire	<br>
https://www.datacoreassets.com/resources/data-sheets/SDS+Datasheet.pdf	<br>
https://www.datacore.com/products/software-defined-storage/tech/specs/	<br>
http://support.huawei.com/enterprise/en/doc/DOC1000028298?section=j00a - Huawei fusioncube backup/restore	<br>
http://www.huawei.com/en/press-events/news/2018/3/Huawei-Veeam-FusionCube-backup - huawei veeeam	<br>
https://www.cisco.com/c/en/us/td/docs/unified_computing/ucs/UCS_CVDs/HX181_dataprotection_Veeam95.html	<br>
https://www.commvault.com/resource-library/577ee429f7406638a400022b/data-protection-for-cisco-hyperflex-with-commvault-software	<br>


<h3>Licensing:</h3>	
https://www.cisco.com/c/en/us/td/docs/hyperconverged_systems/HyperFlex_HX_DataPlatformSoftware/b_Cisco_HyperFlex_Systems_Ordering_and_Licensing_Guide/b_Cisco_HyperFlex_Systems_Ordering_Guide_chapter_01010.html	<br>
https://www.cisco.com/c/en/us/td/docs/hyperconverged_systems/HyperFlex_HX_DataPlatformSoftware/b_Cisco_HyperFlex_Systems_Ordering_and_Licensing_Guide/b_Cisco_HyperFlex_Systems_Ordering_and_Licensing_Guide_chapter_01001.html	<br>
https://next.nutanix.com/how-it-works-22/about-license-model-10737	<br>

<h3>Customer Support:</h3>
https://www.cisco.com/c/en/us/support/hyperconverged-systems/hyperflex-hx-data-platform-software/tsd-products-support-series-home.html<br>
https://www.cisco.com/c/en/us/support/web/tsd-cisco-worldwide-contacts.html - cisco worldwide support numbers<br>
https://www.cisco.com/c/dam/en_us/buy/cs-info/downloads/commarch/html/reference-guides/module13-service-support.pdf - first response from L1 is 6 hrs<br>
https://sbkb.cisco.com/CiscoSB/ukp.aspx?pid=2&login=1&donelr=1 -- the knowledge base site doesn't have Hyperflex KBs neither does the Springpath site works now.<br>
https://datacore.custhelp.com/app/answers/detail/a_id/1270/session/L3RpbWUvMTUyNTgyODYxMi9nZW4vMTUyNTgyODYxMS9zaWQvZlVuOUVQRVczMXFfVkdHdmlQN0JuYjZwV3FydUk1aW51ZXU0SnFBT2hEeGJKbVg4d2x6SkJfSEZnX1pXbGJ4aHRqS3dYemJQdzZfNlNSNWx1YWc0OFNhRGFyNnZJUzJSRjJVdUklN0VVZzJJcXdTendUOEF2RE51V0ElMjElMjE%3D<br>
https://www2.datacore.com/docs/default-source/other-documents/agreements/Software_Support_Services_Terms_and_Conditions.pdf <br>
http://datacore.custhelp.com/ci/fattach/get/365225/1517595035/redirect/1/filename/Third+Party+Known+Issues.pdf<br>
https://www.emc.com/collateral/specification-sheet/vxrail-4.0-spec-sheet.pdf - call home support<br>
http://pilot.search.dell.com/vxrail -- KBs<br>
https://www.emc.com/collateral/service-overview/h16453-dellemc-prosupport-mc-option.pdf<br>
https://support.hpe.com/hpesc/public/home/result?qt=simplivity<br>
https://h20195.www2.hpe.com/v2/GetPDF.aspx/4AA4-3990ENW.pdf<br>
https://www.data3.com/wp-content/uploads/2014/07/Proactive-Care-versus-Foundation-care.pdf<br>
https://support.hpe.com/hpsc/doc/public/display?docId=emr_na-sv7011en_us&docLocale=en_US - phone home<br>
http://support.huawei.com/enterprise/NewsReadAction.action?newType=05&contentId=NEWS1000008632<br>
https://consumer.huawei.com/en/support/hotline/<br>
http://support.huawei.com/enterprise/en/servers/fusioncube-pid-21488161/knowledge-base <br>
https://kb.netapp.com/<br>
https://www.netapp.com/us/media/ds-solidfire-active-support.pdf<br>
https://www.nutanix.com/support-services/product-support/getting-started-with-support/<br>
https://www.nutanix.com/documents/support/Nutanix%20Support%20Quick%20Reference%20Guide.pdf<br>
https://portal.nutanix.com/#/page/kbs<br>
http://pivot3.com/hyper-converged-infrastructure-solutions-designed-protection/ - phone home<br>
http://pivot3.com/technical-support/#Support_Options<br>
http://pivot3.com/wp-content/uploads/2013/02/Pivot3-Professional-Services-Surveillance-2113.pdf<br>
https://www.scalecomputing.com/documents/data-sheets/data_sheets_scalecare_support_services.pdf<br>
https://www.scalecomputing.com/resources/scalecare-support-faq<br>
https://www.vmware.com/support/policies/severity.html<br>
https://kb.vmware.com/s/topic/0TO34000000PvxNGAS/vsan<br>
https://storagehub.vmware.com/export_to_pdf/vsan-support-insight<br>
https://www.youtube.com/watch?v=1d6kJ8NxOrs <br>




</div>