.functionsdata {
    display: list-item; 
}

mat-card {
    margin-top: 20px;
    background-color: #e8e8e8;
    color: #333A56;
    font-family: 'Raleway', 'Arial';
    list-style-type: none;
    font-weight: inherit;
}

ol li { 
    list-style-type: square;
}

mat-expansion-panel, mat-panel-title {
    background-color: #52658f;
    color: #ECF0F1;
    font-family: 'Raleway', 'Arial';

}

mat-panel-title {
    font-weight: bold;
}