<br>
<div>
    <mat-accordion>
      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Analysts Data
          </mat-panel-title>
        </mat-expansion-panel-header>  
          <mat-panel-description>
            <mat-card>
                
                Gartner and IDC reports are considered as data input for this data point. 
                Gartner Report - The Vendors from different Gartner's Magic Quadrants are assigned with points ranging from 1 to 4 points based on their position in the Magic Quadrant.
                <br>
                <ol>
                  <li> Vendors in Leaders Quadrant are awarded with 4 points </li>
                  <li> Vendors in Challengers Quadrant are awarded with 3 points</li>
                  <li> Vendors in Visionaries Quadrant are awarded with 2 points</li>
                  <li> Vendors in Niche players Quadrant are awarded with 1 points</li> 
                </ol> 
           
                IDC 2018 Report – Points to vendors are provided based on Worldwide Hyper-Converged Systems, Based on Owner of HCI Software – top vendor awarded with 4 points and last vendor with 1 point for the first 4 vendors 
                <ol>
                  <li> Vendor with highest market share is awarded with 4 points </li>
                  <li> Vendor with second highest market share is awarded with 3 points </li>
                  <li> Vendor with third highest market share is awarded with 2 points </li>
                  <li> Vendor with fourth highest market share is awarded with 1 points </li>
                </ol>
                      
            </mat-card>  
          </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Customer Adoption
            </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                The data for this function are collected from vendors sites, blogs and Analysts reports. I have a plan to update the Customer base information on quarterly basis.
                Customer count with respective points are allocated <br>
                <ol>
                  <li> Vendors with customers upto 5000 will be awarded with 1 point </li> 
                  <li> Vendors with customers upto 10000 will be awarded with 2 points </li>
                  <li> Vendors with customers upto 15000 will be awarded with 3 points </li>
                  <li> Vendors with customers above 20000 will be awarded with 4 points </li>
                </ol>  

              </mat-card>  
            </mat-panel-description>
        </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  Customer Support
              </mat-panel-title>
            </mat-expansion-panel-header>  
              <mat-panel-description>
                <mat-card>
                    Customer support is one of the critical parameter for any solutions and HCI is no different. one of the key consideration I have considered is 
                    around ease in locating information related to support. Each parameter is awarded with 1 point. <br>
                  <ol>
                      <li>1 hour or below response time mentioned in vendor Datasheet/Website</li>
                      <li>Support for Telephone and Email response</li>
                      <li>KB articles and Information on Web</li>
                      <li>Inbuilt call home/ Phone home facility</li>
                  </ol>  
  
                </mat-card>  
              </mat-panel-description>
          </mat-expansion-panel>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Choice of Hardware
                </mat-panel-title>
            </mat-expansion-panel-header>  
              <mat-panel-description>
                <mat-card>
                    HCI is all about running core data center services as software on any commodity x86 hardware. The HCI vendor should be capable to support as many server vendors as possible.
                    The points are based on number vendors a HCI vendor can support. More Vendors equals more points <br>
                    <ol>
                        <li> HCI vendors who support more than 15 Vendors awarded with 4 points	</li>
                        <li> HCI vendors who support upto 10 Vendors awarded with 3 points	</li>
                        <li> HCI vendors who support Upto 5 Vendors awarded with 2 points	</li>
                        <li> HCI vendors who support between 1 and 5 Vendors awarded with 1 point </li>
                    </ol> 
  
                </mat-card>  
              </mat-panel-description>
        </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Disaster Recovery
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  Disaster Recovery focuses on IT or technology systems supporting critical business functions. Disaster Recovery involves keeping all essential aspects of a business functioning 
                  despite significant disruptive events. This parameter in WoHCI focuses around RPO (Recovery Point Objective) of a given HCI solution along with other parameters. 
                  Each parameter awarded with 1 point.  <br>
                  <ol>
                      <li>HCI solution supporting native replication</li>
                      <li>HCI solution supporting RPO zero for Near DR</li>
                      <li>HCI solution supporting RPO 5 Minutes or less for Far DR</li>
                      <li>HCI solution supporting disimilar x86 servers or server quantity between the sites</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Data Protection
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  Most of the Data protection technologies include BC/DR as part of Data protection strategy, while that may be correct from a wholistic approach. I have kept DR and Data protection
                  solutions as separate parameters. In this section I want to only focus around Backup and Recovery. The idea is to get to know the native Data Protection capabilities of a given HCI vendor. 
                  Two key points are considered, each parameter is awarded with 1 point. <br>
                  <ol>
                      <li>Native VM Backup / Restore</li>
                      <li>3rd party Data protection - Solution Integration </li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Hardware Agnostic
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  This section focuses around delivering HCI solutions without any requirement of specialized hardware devices to deliver HCI capabilities. This is essential for customers who are evaluating HCI solutions.
		              At the end customer should be capable of having HCI with out any dependency on hardware. Each Data Center capability is awarded with 1 point <br>
                  <ol>
                      <li>Deliver Compute services using commodity x86 platform without any  hardware lock-in</li>
                      <li>Deliver Network services using commodity x86 platform without any hardware lock-in</li>
                      <li>Deliver Storage services using commodity x86 platform without any hardware lock-in</li>
                      <li>Deliver Security services using commodity x86 platform without any hardware lock-in</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>

      
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  HCI in Public Cloud
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  HCI in public cloud is consumption of HCI solution that is already built by the public cloud provider along with the respective HCI vendor. HCI on Cloud is to suppose to provide seamless user
	                experience between their private HCI deployment and the one the user consumes from the public cloud. Parameters with points below. Each parameter is awarded with 1 point. <br>
                  <ol>
                      <li>Capability to use HCI in public and private cloud</li>
                      <li>HCI solution running on AWS</li>
                      <li>HCI solution running on Google Cloud Platform</li>
                      <li>HCI solution running on Azure Cloud</li>
                      <li>HCI solution running on any other public cloud / partner provider</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  HCI Scalability
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  HCI scaling is one of the key metric that customers adopting the solution are looking for, unlike traditional storage where typically the infrastructure team spends huge amount of time
	                in planning and sizing the solution for capacity and performance for 3 – 5 years, with HCI this not the case. Customers can start with as small as 2-3 commodity x86 servers and scale vertically
	                or horizontally or both depending upon the solutions they adopt. Also, it is always wise to start small and then scale over the period of time, since x86 hardware innovation cycles are shorter 
	                and customer want have latest gears running in their data center. Each parameter is awarded with 1 point. <br>
                  <ol>
                      <li>HCI solution's ability to start with minimum 3 nodes</li>
                      <li>HCI solution support for a maximum of 32 nodes or more per Cluster</li>
                      <li>HCI solution support to add compute only nodes</li>
                      <li>HCI solution support to add storage only nodes</li>
                      <li>HCI solution support on existing x86 Hardware in data center</li>
                      <li>HCI solution support for mixing for server vendors/generation of servers</li>
                      <li>HCI solution support for JBOD / existing storage</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Licensing Flexibility
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  Since the core of HCI is software which runs on commodity x86 hardware, HCI software licensing is very crucial when choosing any HCI solution. At end any customer wants is save cost, 
                  The approach for this is based on how licenses from the HCI vendors are flexible and what choices of licensing are available, needless to say in a transperant way.
	                Here are some of the parameters and every choice is awarded 1 point. <br>
                  <ol>
                      <li>Support for perpetual licenses (license not tied to appliance of hardware)</li>
                      <li>Appliance based license</li>
                      <li>Support for socket based licenses</li>
                      <li>Support for consumed capacity licenses</li>
                      <li>Support for VM based licenses</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Micro-Segmentation
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  The need for consistent security for workloads running on HCI is critical in rapidly changing environment. Almost 80% of the traffic never leaves the data center.
                  While it is critical to give greater attention to the perimeter traffice, customers have realized the importance of security for traffic that are within datacenter, 
                  this is because of the increasing number of attack that are initiated from with in datacenter. Following Micro-Segmentation parameters, each awarded with 1 point.  <br>
                  <ol>
                      <li>Support for Five tuple ruleset, property of a typical firewall rules</li>
                      <li>Support for Dynamic firewall rules using workload tags or context based</li>
                      <li>Support for redirection of network traffic for advanced security inspection also called as service chaining</li>
                      <li>Support for containers or cloud native applications</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Multi-hypervisor Support
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  This is more of a strategy than a feature by HCI vendors. Also primarily used against competition as RFP points during tender process. 
                  Customers adopt this strategy to avoid vendor lock-in from hypervisor point of view. While this approach may want to keep hypervisor vendor in check.
                  In real world this capability adds complexities rather than efficiency in data center from manageability and operational front. 
                  More importantly the HCI vendors supporting this capability will not be able to provide the same level of features and functions as, 
                  they would offer with their own hypervisors (ex. Micro-Segmentation for other hypervisor). In this current version of the tool, 
                  I've only considered vendor support for HCI storage service function from multi-hypervisor point of view  <br>
                  <ol>
                      <li>Support for multi-hypervisor </li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  NPS Score
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  The Net Promoter Score is an index ranging from -100 to 100 that measures the willingness of customers to recommend a company's products or services to others. It is used as a proxy for
                  gauging the customer's overall satisfaction with a company's product or service and the customer's loyalty to the brand. Since the scoring more for vendors than HCI solution. NPS score may
                  not be helpful to really gauge the HCI solution and more over most of the vendors who have HCI solutions have a broader products and solutions portfolio. The industry considered are 
                  technology/software, consumer brands/electronics and computer/peripherals.  Below are the points for different range with respective points awarded. <br>
                  <ol>
                      <li>Vendor with NPS score between 100 and 75 will be awarded with 4 points</li>
                      <li>Vendor with NPS score between 75 and 50 will be awarded with 3 points</li>
                      <li>Vendor with NPS score between 50 and 25 will be awarded with 2 points</li>
                      <li>Vendor with NPS score between 25 and 1 will be awarded with 1 points</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                 ROBO Friendly
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  This function is mainly focused around small/medium customer and customer who have remote offices/branch offices. The parameters used here are around 
                  vendor solutions and licensing for customer ROBO requirements. While in future I would like to add more data points for ROBO, currently I have considered two parameters each with 1 point. <br>
                  <ol>
                      <li>Capability to run on 2 Nodes connected to Central Data Center</li>
                      <li>Licenses based on number of VM workloads regardless of server hardware quantity or storage capacity</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Software Defined Data Center
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  Points are given based vendor solutions offering across Software Defined Compute, Software Defined Network, Software Defined Storage and Software Defined Security functionalities.
                  The idea behind this parameter is to help customer in understanding the vendors investment into these solutions which form the base platform for their HCI adoption. 
                  For each solution offering vendor will be granted with 1 point. The vendor who has the higher number of offerings will eventually get the highest score. Each capability awarded with 1 point<br>
                  <ol>
                    <li>HCI vendors capability to provide Software Defined Compute</li> 
                    <li>HCI vendors capability to provide Software Defined Network</li> 
                    <li>HCI vendors capability to provide Software Defined Storage</li> 
                    <li>HCI vendors capability to provide Software Defined Secuirty</li> 
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Software Defined Storage
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  This parameter is the crucial for any HCI solution, in fact almost all HCI story began and revolves around storage as the core area to address. HCI as a solution started with
                  solving pain points around storage and then gradually moving towards other core components of data center. I have used multiple pointers and respective points were granted. 
                  In the below list of parameters each parameter is awarded with 1 point. <br>
                  <ol>
                      <li>Ease of installing software defined storage service</li>
                      <li>Ease of operation, efforts involved in using storage service, creating datastore, using them </li>
                      <li>Storage services offered (iSCSI, SMB, NFS, CIFS) - I personally feel these services are taking us back to traditional storage management</li>
                      <li>Ability to provide Quality of Service to a smallest storage unit possible in a VM workload</li>
                      <li>Maximum number of Nodes supported, scalability of the solution - min 32 nodes</li>
                      <li>Space optimization features, support for software dedupe, compression, erasure coding</li>
                      <li>Security – Does the solution support encryption</li>
                      <li>Replication as native feature included as part of the solution</li>
                      <li>Native file level backup / recovery support</li>
                      <li>Integrate with existing storage solution SAN, NAS</li>
                      <li>Provision capacity for non-virtualized solution eg. physical environment</li>
                      <li>Storage services overhead and requirement of dedicated resource requirements (minus points) </li>
                      <li>Integration with 3rd party backup, replication solutions</li>
                      <li>Hardware agnostic while delivering HCI capabilities</li>
                      <li>Support for both hybrid / all flash storage</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Software Defined Network
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  Software Defined Network has caught up into data center recently. Any HCI solution without SDN is incomplete. There are HCI vendors currently offering
                  a subset or a single function of SDN. This parameter has datapoints for critical or core SDN functions which any HCI solution should have.
                  In the below list of capabilities each capability is awarded with 1 point. <br> 
                  <ol>
                      <li>HCI solution supporting virtual switching</li>
                      <li>HCI solution supporting virtual firewall</li>
                      <li>HCI solution supporting virtual routing</li>
                      <li>HCI solution supporting virtual load balancing</li>
                      <li>Support for cloud native applications like containers</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Software Defined Compute
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  This parameter is predominantly for virtual infrastructure/hypervisor feature comparison around efficient usage of x86 hardware. 
                  In the current verison of WoHCI application capabilities around Availability and Resource load balancing are considered. So, in SDC I would measure capability to take care of planned, 
                  unplanned  downtimes. Apart from that I have also included managing resources in a dynamic way and the impact when handling the resources. Each data point awarded with one point <br>
                  <ol>
                      <li>HCI solution support for Planned downtime </li>
                      <li>HCI solution support for Unplanned downtime </li>
                      <li>HCI solution support for Dynamic resource Allocation (Compute, Network and Storage) </li>
                      <li>HCI solution support for Non-Disruptive resource addition </li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


    </mat-accordion>
</div>


