
<div>
    <mat-accordion>
      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Analysts Data
          </mat-panel-title>
        </mat-expansion-panel-header>  
          <mat-panel-description>
            <mat-card>
                
                Gartner and IDC reports are considered for this data point. Gartner - Vendors across different Gartner Magic Quadrants are assigned with points ranging from 1 to 4 points.
                <br>
                <ol>
                  <li> Leaders Quadrant awarded with 4 points </li>
                  <li> Challengers Quadrant awarded with 3 points</li>
                  <li> Visionaries Quadrant awarded with 2 points</li>
                  <li> Niche players Quadrant awarded with 1 points</li> 
                </ol> 
           
                IDC – Points to vendors are provided based on Worldwide Hyper-Converged Systems, Based on Owner of HCI Software – top vendor 2point to .5 point for the first 4 vendors 
                <ol>
                  <li> Vendor with highest market share will be awarded with 4 points </li>
                  <li> Vendor with second highest market share will be awarded with 3 points </li>
                  <li> Vendor with third highest market share will be awarded with 2 points </li>
                  <li> Vendor with fourth highest market share will be awarded with 1 points </li>
                </ol>
                      
            </mat-card>  
          </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Customer Adoption
            </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                Inputs from vendors site, or blogs and Analysts report is used to get the information on total customer base. 
                Customer count with respective points are allocated as below <br>
                <ol>
                  <li> Vendors with customers upto 5000 will be awarded with 1 point </li> 
                  <li> Vendors with customers upto 10000 will be awarded with 2 points </li>
                  <li> Vendors with customers upto 15000 will be awarded with 3 points </li>
                  <li> Vendors with customers above 20000 will be awarded with 4 points </li>
                </ol>  

              </mat-card>  
            </mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Choice of Hardware
                </mat-panel-title>
            </mat-expansion-panel-header>  
              <mat-panel-description>
                <mat-card>
                    HCI is all about running core data center services as software on any commodity hardware. The HCI vendor should be flexible to support as much as server platform out there.
                    The points are based on number vendors and their server models an HCI vendor can support. More Vendors equals more points <br>
                    <ol>
                        <li> More than 15 Vendors awarded with 4 points	</li>
                        <li> Upto than 10 Vendors awarded with 3 points	</li>
                        <li> Upto 5 Vendors awarded with 2 points	</li>
                        <li> Between 1 and 5 Vendors awarded with 1 points </li>
                    </ol> 
  
                </mat-card>  
              </mat-panel-description>
        </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Disaster Recovery
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  Disaster recovery focuses on the IT or technology systems supporting critical business functions. Disaster Recovery involves keeping all essential aspects of a business functioning 
                  despite significant disruptive events. This parameter focuses around RPO (Recovery Point Objective) of the DR solution. Some of the key parameters each parameter awarded with 1 point below.  <br>
                  <ol>
                      <li>Support for native replication</li>
                      <li>Support for RPO zero for Near DR</li>
                      <li>Support for RPO 5 Minutes for Far DR</li>
                      <li>Support for Asymmetric replication – with different infrastructure between the sites</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Data Protection
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  Many of the Data protection solutions includes BC/DR as part of Data protection, while that is correct from a wholistic approach, I have kept DR and Data protection separate.
			            In this section I want to only focus around Backup and Recovery. With this approach we can focus on what are the native features an HCI solution can offer from DR and 
                  Backup/Recovery perspective and from 3rd party specialist backup vendors. Each parameter is awarded with 1 point. <br>
                  <ol>
                      <li>Native VM Backup / restore</li>
                      <li>3rd party Data protection solution integration </li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Hardware Agnostic
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  This section focuses around delivering HCI solutions without any requirement of specialized hardware devices or any HCI capabilities locked to a hardware vendor/solution. The idea is
		              that customer gets a uniform experience across any of those choice of hardware. Here are the points for respective HCI functions each with 1 point  <br>
                  <ol>
                      <li>Deliver Compute services using commodity x86 platform without any specialized hardware</li>
                      <li>Deliver Network services using commodity x86 platform without any specialized hardware</li>
                      <li>Deliver Storage services using commodity x86 platform without any specialized hardware</li>
                      <li>Deliver Security services using commodity x86 platform without any specialized hardware</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>

      
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  HCI in Public Cloud
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  HCI in public cloud is consumption of HCI solution that is already built on the cloud with the respective HCI vendor. HCI on Cloud is to suppose to provide seamless user
	                experience between their private HCI deployment and the one the user consume from the public cloud. Parameters with points below. Each parameter is awarded with 1 point. <br>
                  <ol>
                      <li>Capability to use HCI in public and private cloud</li>
                      <li>HCI on AWS</li>
                      <li>HCI on Google Cloud Platform</li>
                      <li>HCI on Azure Cloud</li>
                      <li>HCI on any other public cloud / partner provider</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  HCI Scalability
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  HCI scaling is one of the key metric that customers adopting the solution are looking for, unlike traditional storage where typically the infrastructure team spends huge amount of time
	                In planning and sizing the solution for capacity and performance for 3 – 5 years, with HCI the this not case. Customers can start with as small as 2 commodity x86 servers and scale vertically
	                Or horizontally or both depending upon the solutions they adopt. Also, it always wise to start small and then scale over the period of time, since x86 hardware innovation cycles are shorter 
	                and customer want leverage that. Each parameter is awarded with 1 point. <br>
                  <ol>
                      <li>Ability to start with minimum 3 nodes</li>
                      <li>Support for a maximum of 32 nodes or more  per Cluster</li>
                      <li>Support to add compute only nodes</li>
                      <li>Support to add storage only nodes</li>
                      <li>Support on existing x86 Hardware</li>
                      <li>Support for mixing for server vendors/generation of servers</li>
                      <li>Support for JBOD / existing storage</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Licensing Flexibility
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  Since the core of HCI is software which runs on commodity hardware, HCI software licensing is very crucial when choosing and HCI solution. At end any customer wants is save cost, that the 
	                Whole idea why the adoption of HCI is rapid. How I measured this is based on how licenses are flexible and what options without strings or conditions applied a vendor can deliver.
	                Here are some of the parameters and points. <br>
                  <ol>
                      <li>Support for perpetual licenses (use it on other hardware)</li>
                      <li>Appliance based license</li>
                      <li>Support for processor based licenses</li>
                      <li>Consumed capacity licenses</li>
                      <li>VM based licenses</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Micro-Segmentation
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  The need for consistent security for workloads running on HCI is critical in rapidly changing environment. Almost 80% of the traffic never leaves the data center and 20% is 
		              Ingress and egress, while is critical to give bulk of attention to the 20% that leaves or enters the data center, customers have realized the importance of security for traffic 
                  within datacenter, this is because of the increasing number of internal attack. Here are key parameters each parameter awarded with 1 point.  <br>
                  <ol>
                      <li>Five tuple ruleset</li>
                      <li>Dynamic firewall rules using workload tags or contextual</li>
                      <li>Redirection of network traffic for advanced security inspection</li>
                      <li>Support for containers</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Multi-hypervisor Support
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  This is more of a strategy than a feature by HCI vendors. Also primarily used against competition as RFP points during tender process. 
                  Customers adopt this strategy to avoid vendor locking from hypervisor point of view. While this approach may want to keep hypervisor vendor in check. In real world this function adds 
                  additional complexities in data center from manageability and operational front. More importantly the HCI vendors supporting this capability will not provide the same level 
                  of features and functions as, they would offer with their own hypervisors. In current version of this tool, I am only only if a HCI vendor offer Multi Hypervisor function or not.  <br>
                  <ol>
                      <li>Support for multi-hypervisor </li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  NPS Score
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  The Net Promoter Score is an index ranging from -100 to 100 that measures the willingness of customers to recommend a company's products or services to others. It is used as a proxy for
                  gauging the customer's overall satisfaction with a company's product or service and the customer's loyalty to the brand. Since the scoring more for vendors than HCI solution. NPS score may
                  not be helpful to really gauge the HCI solution and more over most of the vendors who have HCI solutions have a broader products and solutions portfolio. The industry considered are 
                  technology/software, consumer brands/electronics and computer/peripherals.  Below are the points for different range with respective points awarded. <br>
                  <ol>
                      <li>NPS score 100 to 75 will be awarded with 4 points</li>
                      <li>NPS score 75 to 50 will be awarded with 3 points</li>
                      <li>NPS score 50 to 25 will be awarded with 2 points</li>
                      <li>NPS score 25 to 1 will be awarded with 1 points</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                 ROBO Friendly
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  This function is mainly focused around small/medium customer and customer who have remote offices/branch offices. The parameters used here are around solution 
                  capability and licensing. While in future we may want to add more data points, currently we are focusing on two important parameter each with 1 point . <br>
                  <ol>
                      <li>Capability to run on 2 Nodes connected to Central Data Center</li>
                      <li>Licenses based on number of workloads regardless of server hardware or capacity</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Software Defined Data Center
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  Points are given based vendor solutions offering across Software Defined Compute, Software Defined Network, Software Defined Storage and Software Defined Security.
                  The idea behind this property is to help customer in understanding the vendors investment into these solutions which form the base platform for HCI in their data center. 
                  For each solution offering vendor will be granted with 1 point. The vendor who has the higher number of offerings will eventually get the highest score<br>
                  <ol>
                    <li>Software Defined Compute 1 point awarded</li> 
                    <li>Software Defined Network 1 point awarded</li> 
                    <li>Software Defined Storage 1 point awarded </li> 
                    <li>Software Defined Secuirty 1 point awarded</li> 
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Software Defined Storage
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  This parameter is the crucial for any HCI solution, in fact almost all HCI story revolves around storage as the core area. HCI as a solution started with
                  solving pain points around storage and then gradually moving towards other core components of data center. I have used multiple pointers and respective points were granted. 
                  In the below list of parameters each parameter is awarded with 1 point. <br>
                  <ol>
                      <li>Ease of installing software defined storage service</li>
                      <li>Ease of operation, efforts involved in using storage service, creating datastore, using them </li>
                      <li>Storage services offered (iSCSI, SMB, NFS, CIFS) - I personally feel these services are taking us back to traditional storage management</li>
                      <li>Ability to provide Quality of Service to a level as granular as possible from storage perspective</li>
                      <li>Maximum number of Nodes supported scalability - min 32 nodes</li>
                      <li>Space optimization features, support for software dedupe, compression, erasure coding</li>
                      <li>Security – Does the solution support encryption</li>
                      <li>Replication feature as part of the solution</li>
                      <li>Native file level backup / recovery support</li>
                      <li>Integrate with existing storage solution SAN, NAS</li>
                      <li>Provision for non-virtualized solution like physical environment</li>
                      <li>Storage services overhead and requirement of dedicated resource requirements</li>
                      <li>Integration with 3rd party backup, replication solutions</li>
                      <li>Hardware agnostic while delivering hardware solution</li>
                      <li>Support for both hybrid / all flash</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Software Defined Network
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  Software Defined Network has caught up into data center. Any HCI solution without SDN is incomplete. There are HCI currently only offering
                  a subset or a single function of SDN. This parameter comprises of the critical or core SDN functions which any HCI solution whould have.
                  In the below list of parameters each parameter is awarded with 1 point. <br>
                  <ol>
                      <li>virtual switching</li>
                      <li>virtual firewall</li>
                      <li>virtual routing</li>
                      <li>virtual load balancing</li>
                      <li>Support for cloud native applications like containers</li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Software Defined Compute
              </mat-panel-title>
          </mat-expansion-panel-header>  
            <mat-panel-description>
              <mat-card>
                  This parameter is predominantly virtual infrastructure/hypervisor feature comparison around efficient usage of hardware. In the current verison of WoHCI application only Software Defined Compute SDC is considered.
                  The difference between SDC and hypervisor is that, I measure hypervisor for scalability and robustness on per physical Host basis, but compared that to SDC I measure with below data points more from a manageability 
                  and availability with a group of physical Hosts used. So, in SDC I would measure how planned, unplanned, how dynamic the resources are
                  managed and how overall HCI workload is impacted. Each data point awarded with one point <br>
                  <ol>
                      <li>Planned downtime </li>
                      <li>Unplanned downtime </li>
                      <li>Dynamic resource Allocation (Compute, Network and Storage) </li>
                      <li>Non-Disruptive resource addition </li>
                  </ol> 

              </mat-card>  
            </mat-panel-description>
      </mat-expansion-panel>


    </mat-accordion>
</div>


