<div>

        <h1>World of Hyper-Converged Infrastructure</h1>

        <img align="center" src="assets/logo.png"  alt="HCI logo"  class="center">
</div>

<br>
<br>

<div>
   <mat-accordion>
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      What is Hyper-Converged Infrastructure ?
                  </mat-panel-title>
                </mat-expansion-panel-header>  
                  <mat-panel-description>
                    <mat-card>
                       Hyper-Converged Infrastructure is running core data center infrastructure components like compute, network, storage and security services on a commodity x86 physical server.
                       All the core data center services (Compute, Network, Storage and Security) run as software services.
                        <br>
    
                    </mat-card>  
                  </mat-panel-description>
        </mat-expansion-panel>


        <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                              What is WoHCI (World of Hyperconverged Infrastructure) ?
                          </mat-panel-title>
                        </mat-expansion-panel-header>  
                          <mat-panel-description>
                            <mat-card>
                               WoHCI (worldofhci.com) is a web application. This application is built to compare HCI solutions based on their capabilities/features. The basic principle for this 
                               application is to give the user as many choice as possible to exactly or closely match his requirements. Every function has one or more parameters and a rating point 
                               given for every parameters. The ratings provided or based on my understanding of the solutions. see "Why HCI was created " section to get to know about the operational 
                               aspects of the application.
                                <br>
            
                            </mat-card>  
                          </mat-panel-description>
        </mat-expansion-panel>



        <mat-expansion-panel>
                <mat-expansion-panel-header>
                        <mat-panel-title>
                                Why WoHCI was created ?
                        </mat-panel-title>
                </mat-expansion-panel-header>  
                        <mat-panel-description>
                                <mat-card>
                                <p>     Hyperconverged Infrastructure has already gained it's momentum and are being evaluated or considered for most of the data center infrastructure requirements. As we know whenever there is something gaining attraction, every one wants to participate and gain whatever they can.
                                        Almost all of the Data center infrastructure vendors today have HCI offerings. 
                                </p>
                                        
                                <p>     HCI offerings by the vendors are either built from grounds up or rebranding of current products or through new acquisitions. Every vendors has a story to say with their offerings and this story to the most part is not consistent with what they say and what can be delivered.
                                        This creates confusion among customers. Not all customers have the time and skill to go through every vendors offering in-depth due to time and other constraints. 
                                </p>
                                        
                                <p>
                                        WoHCI is focused towards simplifying and bringing clarity while comparing multiple HCI solutions.
                                        WoHCI is a simple tool using which customers can compare capability, based on their choice of vendors, functions or parametrs.
                                </p>
                                        This tool uses a two step process.
                                <ol>
                                        <li> Select one or more vendors from the list of avilable vendors </li>
                                        <li> Select one or more functions or metrics from the list of available functions </li>
                                </ol>
                                <p>
                                         On selection of functions and vendors, every vendor is scored based on the functions selected. The vendors with highest score are the preferred ones.
                                
                                        Customers can pick or drop vendors or functions at any point in time. The application will adjust the score for the selected vendors in real time.
                                        The following vendors are available to choose from in current version.
                                </p>
                                        <ol>
                                                <li>Cisco Hyperflex</li>
                                                <li>Datacore Hyperconverged Virtual SAN</li>
                                                <li>Dell EMC VxRAIL</li>
                                                <li>Huawei Fusioncube</li>
                                                <li>HPE Simplivity</li>
                                                <li>NetApp HCI</li>
                                                <li>Nutanix</li>
                                                <li>Pivot3 Acuity vSTAC</li>
                                                <li>Stratosphere</li>
                                                <li>VMware</li>
                                        </ol>            
                         </mat-card>  
                 </mat-panel-description>
        </mat-expansion-panel>



        <mat-expansion-panel>
                        <mat-expansion-panel-header>
                                <mat-panel-title>
                                What is HCI Comparision Tab?
                                </mat-panel-title>
                        </mat-expansion-panel-header>  
                                <mat-panel-description>
                                <mat-card>
                                The HCI comparision section/tab is the core of the application, in this tab users can pick from their choice of vendors and choose from 17 different functions.
                                Upon selecting, the scores are updated for every selected vendor. At any point of time, users are allowed to choose from any vendors or HCI functions, the score for the vendors
                                will get updated in realtime.
                                <br>
                
                                </mat-card>  
                                </mat-panel-description>
        </mat-expansion-panel>


        <mat-expansion-panel>
                <mat-expansion-panel-header>
                        <mat-panel-title>
                        What is their scratch pad Tab?
                        </mat-panel-title>
                </mat-expansion-panel-header>  
                        <mat-panel-description>
                        <mat-card>
                        In the scratch pad section of the WoHCI application, one can find links to various HCI vendors sites, blogs, analysts reports, etc.
                        These are some of the links collected during develpment of WoHCI application. Primarily to understand HCI solutions and rate them.
                        Included them, thinking should be useful for the users.
                        <br>
        
                        </mat-card>  
                        </mat-panel-description>
        </mat-expansion-panel>




    </mat-accordion>
</div>
