<div>

        <h1>World of Hyper-Converged Infrastructure</h1>

        <img align="center" src="assets/logo.png"  alt="HCI logo"  class="center">
</div>

<br>
<br>

<div>
   <mat-accordion>
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      What is Hyper-Converged Infrastructure ?
                  </mat-panel-title>
                </mat-expansion-panel-header>  
                  <mat-panel-description>
                    <mat-card>
                       Let's keep it simple, Hyper-Converged Infrastructure is nothing but running core data center infrastructure components like compute, network, storage and security services on a commodity x86 physical server.
                       All the core data center services (Compute, Network, Storage and Security) run as software services.
                        <br>
    
                    </mat-card>  
                  </mat-panel-description>
        </mat-expansion-panel>


        <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                              What is WoHCI (World of Hyperconverged Infrastructure) ?
                          </mat-panel-title>
                        </mat-expansion-panel-header>  
                          <mat-panel-description>
                            <mat-card>
                               WoHCI accessed through www.worldofhci.com is a web site with a web application running on it. This web application can be used to get an idea on the product and its features based on various selection criterias.
                               The ratings provided or based on my understanding of given solution. see "Why HCI was created " section for more operational aspects of the application.
                                <br>
            
                            </mat-card>  
                          </mat-panel-description>
        </mat-expansion-panel>



        <mat-expansion-panel>
                <mat-expansion-panel-header>
                        <mat-panel-title>
                                Why WoHCI was created ?
                        </mat-panel-title>
                </mat-expansion-panel-header>  
                        <mat-panel-description>
                                <mat-card>
                                <p>     Hyperconverged Infrastructure has already gained it's momentum and are being evaluated or considered for most of the data center infrastructure requirements. As we know whenever there is something gaining attraction, every one wants to participate and gain whatever they can.
                                        Almost all of the Data center infrastructure vendors today have HCI offerings. 
                                </p>
                                        
                                <p>     These HCI offerings by the vendors are either built from grounds up or rebranding of current products or through new acquisitions. Every vendors want say the HCI story with their offerings and this story most part is not consistent and creates confusion among customers.
                                        Not all customers have the time and skill to go through every vendors offering in-depth due to time and other constraints. 
                                </p>
                                        
                                <p>
                                        WoHCI is focused around bringing in clarity and simplify the process of evaluation of HCI solution.
                                        WoHCI is a simple tool using which customers can understand various vendors stand or capability, based on customers choice of functions or metrics.
                                </p>
                                        This tool uses a two step process.
                                <ol>
                                        <li> Select one or more vendors from the list of avilable vendors </li>
                                        <li> Select one or more functions or metrics from the list of available functions </li>
                                </ol>
                                <p>
                                         On selection of functions and vendors, every vendor has score based on the functions selected. The vendors with high score are the preferred ones based on the selected functions.
                                
                                        Customers can pick or drop vendors or functions at any point in time. The application will change the score fornthe selected vendors in real time.
                                        The following vendors are available to choose from in current version.
                                </p>
                                        <ol>
                                                <li>Cisco Hyperflex</li>
                                                <li>Datacore Hyperconverged Virtual SAN</li>
                                                <li>Dell EMC VxRAIL</li>
                                                <li>Huawei Fusioncube</li>
                                                <li>HPE Simplivity</li>
                                                <li>NetApp HCI</li>
                                                <li>Nutanix</li>
                                                <li>Pivot3 Acuity vSTAC</li>
                                                <li>Stratosphere</li>
                                                <li>VMware</li>
                                        </ol>            
                         </mat-card>  
                 </mat-panel-description>
        </mat-expansion-panel>


        <mat-expansion-panel>
                <mat-expansion-panel-header>
                        <mat-panel-title>
                        What is there in scratch pad?
                        </mat-panel-title>
                </mat-expansion-panel-header>  
                        <mat-panel-description>
                        <mat-card>
                        In scratch pad section of the WoHCI application, one can find links to various HCI vendors sites, blogs, analysts reports, etc.
                        These are collected over a period of time for rating the vendors functions.
                        <br>
        
                        </mat-card>  
                        </mat-panel-description>
        </mat-expansion-panel>




    </mat-accordion>
</div>
