

        <img align="center" src="assets/logo.png"  alt="HCI logo"  class="center">


       <h3>Why WoHCI created ?</h3>
        <p>   Hyperconverged Infrastructure has already gained it's momentum and are being evaluated or considered for most of the data center infrastructure requirements. As we know whenever there is something gaining attraction, every one wants to participate and gain whatever they can.
        Almost all of the Data center infrastructure vendors today have HCI offerings. 
        </p>

        <p>
                These HCI offerings by the vendors are either built from grounds up or rebranding of current products or through new acquisitions. Every vendors want say the HCI story with their offerings and this story most part is not consistent and creates confusion among customers.
        Not all customers have the time and skill to go through every vendors offering in-depth due to time and other constraints. 
        </p>

        <p>
                WoHCI is focused around bringing in clarity and simplify the process of evaluation of HCI solution.
        WoHCI is a simple tool using which customers can understand various vendors stand or capability, based on customers choice of functions or metrics.
        </p>
        This tool uses a two step process.
        <ol>
                <li> Select one or more vendors from the list of avilable vendors </li>
                <li> Select one or more functions or metrics from the list of available functions </li>
        </ol>
        <p>
        On selection of functions and vendors, every vendor has score based on the functions selected. The vendors with high score are the preferred ones based on the selected functions.
        
        Customers can pick or drop vendors or functions at any point in time. The application will change the score fornthe selected vendors in real time.
        The following vendors are available to choose from in current version.
        </p>
          <ol>
                <li>Cisco Hyperflex</li>
                <li>Datacore Hyperconverged Virtual SAN</li>
                <li>Dell EMC VxRAIL</li>
                <li>Huawei Fusioncube</li>
                <li>HPE Simplivity</li>
                <li>NetApp HCI</li>
                <li>Nutanix</li>
                <li>Pivot3 Acuity vSTAC</li>
                <li>Stratosphere</li>
                <li>VMware</li>
           </ol>            
      
    

<h1> 
        HCI reports based on latest information .
        This includes, market share, revenue, new enhancements, partnerships, solution
        integration, customer adoption, customer experience, customer satisfaction.
        All information gathered are from publicaly available on the internet.
        
</h1> 

<h2>
        <ul>
            <li> reports based on last quarter </li>
            <li> points are granted based on software weightage</li>
        </ul>
</h2>
